*.so
*.swo
*.swp
*.tmp
*.lock
/vendor/
/public/fm/
/.phpintel/
/config/adminer_credential.php

# Main ignore
/config/line/main.php
/config/telegram/main.php
/config/facebook/main.php

# Key ignore
/config/line/webhook_key.php
/config/telegram/webhook_key.php

/config/facebook/hub_verify_token.php

/installed.state