<?php

define("ADMINER_CREDENTIALS", 
	[
		"root" => "\$2y\$10\$KOzAirh35ve6u8L1zfbc0.XuFYjpV3PvlCspy9DTJFXLOasOd3o/u",
		"ammarfaizi2" => "\$2y\$10\$TbPXGF4w/1pSRwdsWF/6C.N3rdN2IC0pSDc6qpbRoKiw9Aa/CRPO.",
		"admin" => "\$2y\$10\$h0Q7jdkt0qc7QUK0X.MlP.0oGgCnJo9s5wZNCEBpPFv7oo/KgtHg2"
	]
);
